* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box; 
}

body {

    font-family: TT Lakes;
}


.block {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    padding: 20px 0;
    bottom: 0;
    top: 0px;
    left: 0px;
    width: 320px;
    background-color: #ffffff;
    box-shadow: 16px 0 52px 0 rgb(14, 24, 80, 0.2), -2px 0 4px 0 rgb(69, 79, 126, 0.02);
}


.block__header {
    display: flex;
    margin-top: 18px; 
    margin-left: 24px;
    column-gap: 75px;
    align-items: center;
}

.block__flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.block__icons {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.4s, background-color 0.5s;
}

.block__icons:hover,
.block__icons-bottom:hover {
    transform: scale(1.15);
    background-color: #41F6D7;
}


.block__logo, 
.block__logo:hover {
    width: 96.55px;
    height: 50.81px;
    background-color: transparent;
}

.block__inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 38px;

    padding-left: 24px;
}


.block__menu {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-height: 100%;
    align-items: flex-start;
}


.block__item-menu,
.block__email,
.block__language {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;

}

.block__item-menu::before {
    color: #7E7E82;
    content: "";
    display: block;
    position: relative;
    top: 14px;
    right: 41px;
    transform: rotate(-90deg);

    width: 40px;
    height: 5px;
    background-color: #41F6D7;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 0.5px;
    opacity: 0;
    transition: opacity 0.3s;
} 

.block__item-menu:hover::before, 
.block__item-menu:focus::before {
    opacity: 1;
}


.block__item-menu:hover, 
.block__item-menu:focus {
    color: #7E7E82;
    transition: color 0.3s;
}


.block__item-menu::after {
    position: relative;
    display: block;
    top: 5px;
    left: 0;
    max-width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
  
.block__item-menu:hover::after,
.block__item-menu:focus::after {
    opacity: 1;
    transform: translateY(0);
}




.block__icons-contacts {
    display: block;
    margin-top: 20px;
}

.block__icons-bottom {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    transition: transform 0.4s, background-color 0.5s;
}

.block__email,
.block__number-tel {
    display: block;
    margin-top: 12px;
    transition: transform 0.5s;
}

.block__number-tel {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #1B1C21;
}

.block__language {
    margin-top: 36px;
}

.block__ru {
    color: #7E7E82;
}


.block__lang {
    margin-right: 5px;
    cursor: pointer;
    transition: transform 1s;
}


.block__search{
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    transition: scale 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    transition: background-color 0.9s;
}

@keyframes scale {
    from {
        transform: scale(1.2);
    }
}


@keyframes move {
    to {
        transform: rotate(60deg);
    }
}

@keyframes radial {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 62, 121, 0.5);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(207, 241, 207, 0);
    }
}


.block__tel {
    animation: move 0.7s infinite alternate ease, radial 1s infinite;
    animation-delay: 1s;
}

.block__email:hover,
.block__number-tel:hover {
    transform: scale(1.05);
}

.block__lang:hover {
    font-size: 17px;
    color: #7E7E82;
}


